[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
beautifulsoup4 = "*"
gspread = "*"
oauth2client = "*"
pandas = "*"
python-dotenv = "*"
posts = "*"
firebase-admin = "*"
google-cloud-firestore = "*"
spacy = "*"
jinja2 = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
